@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#button-groupdavSync
{
  list-style-image: url("resource://sogo-connector/skin/addressbook/sync-24.png");
  -moz-image-region: rect(120px 29px 149px 0);
}

#button-groupdavSync[disabled="true"]
{
  list-style-image: url("resource://sogo-connector/skin/addressbook/sync-24-disabled.png");
}

#SCSearchCriteriaButton
{
  list-style-image: url("resource://sogo-connector/skin/addressbook/search-filter.png");
  min-width: 16px;
  min-height: 16px;
}

treechildren::-moz-tree-image(DirCol, isSOGoAddressBook-true) {
    list-style-image: url("resource://sogo-connector/skin/sogo.png");
    width: 16px;
    height: 16px;
}

#subscriptionToolbar
{ height: 36px; }

#addAddressBookBtn
{
  list-style-image: url(resource://sogo-connector/skin/addressbook/add-addressbook.png);
  -moz-box-orient: vertical;
}

#subscribeAddressBookBtn
{
  list-style-image: url(resource://sogo-connector/skin/addressbook/add-user-addressbook.png);
  -moz-box-orient: vertical;
}

#removeAddressBookBtn
{
  list-style-image: url(resource://sogo-connector/skin/addressbook/remove-addressbook.png);
  -moz-box-orient: vertical;
}

#removeAddressBookBtn[disabled="true"]
{
  list-style-image: url(resource://sogo-connector/skin/addressbook/remove-addressbook-disabled.png);
}