#subscriptionToolbar
{ height: 36px; }

#addAddressBookBtn
{
  list-style-image: url(resource://sogo-connector/skin/addressbook/add-addressbook.png);
  -moz-box-orient: vertical;
}

#subscribeAddressBookBtn
{
  list-style-image: url(resource://sogo-connector/skin/addressbook/add-user-addressbook.png);
  -moz-box-orient: vertical;
}

#removeAddressBookBtn
{
  list-style-image: url(resource://sogo-connector/skin/addressbook/remove-addressbook.png);
  -moz-box-orient: vertical;
}

#removeAddressBookBtn[disabled="true"]
{
  list-style-image: url(resource://sogo-connector/skin/addressbook/remove-addressbook-disabled.png);
}
