#rolesDialog
{ width: 500px;
  height: 176px;
  padding: 0px;
  margin: 0px; }

#titleContent
{ background-color: #fff;
  color: #000;
  height: 36px;
  padding-top: .5em;
  padding-left: 2em;
  border-bottom: 1px solid #000; }

#titleLabel[transparent="true"]
{ opacity: 0; }

#userTitle
{ font-size: 10pt; }

#titleUserName
{ font-weight: bold;
  font-size: 12pt;  }

#dialogContent
{ margin: 5px; }

#addUserBtn
{ padding: 0px;
  margin: 0px;
  border: 0px;
  max-height: 24px;
  -moz-image-region: rect(0px 24px 24px 0px);
  list-style-image: url("chrome://sogo-connector/skin/add-contact.gif"); }

#removeUserBtn
{ padding: 0px;
  margin: 0px;
  border: 0px;
  max-height: 24px;
  -moz-image-region: rect(0px 24px 24px 0px);
  list-style-image: url("chrome://sogo-connector/skin/remove-contact.gif"); }

#roleChoices
{ width: 200px; }

#rowLabel
{ -moz-box-align: end;
  text-align: right; }
