calendar-invitations-richlistbox {
  -moz-binding: url(chrome://sogo-connector/content/calendar/calendar-invitations-list.xml#calendar-invitations-richlistbox);
  -moz-user-focus: normal;
}

calendar-invitations-richlistitem {
  -moz-binding: url(chrome://sogo-connector/content/calendar/calendar-invitations-list.xml#calendar-invitations-richlistitem);
  -moz-user-focus: none;
}

calendar-invitations-richlistitem[selected="true"] {
  -moz-user-focus: normal;
}
